.table tbody tr:hover {
  background-color: gray;
}

.select-card {
  transition: ease 0.5s;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.select-card:hover {
  transform: scale(1.08);
}

.nav-item {
  cursor: pointer;
}

.stream_displayBox {
  width: min(100% - 340px);
  position: relative;
  float: left;
  margin: 10px;
}

.main_container {
  width: min(100% - 2rem);
  margin-top: 0.5rem;
  margin-inline: auto;
  background-color: #f9f9f9;
}

.w3-card-4 .w3-container {
  padding: 0;
  height: auto;
  margin: 0;
}
.w3-card-4 .w3-container p {
  margin: 0;
}
.w3-card-4 .w3-container p:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.chatroom {
  float: left;
  width: 300px;
  right: 0;
  margin: 10px;
  position: relative;
}
.chatroom .chatroom_header {
  width: auto;
  padding: 12px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
}
.chatroom .chatroom_body {
  overflow: scroll;
  height: 320px;
  overflow-x: hidden;
}
.chatroom .chatroom_body .comments {
  height: auto;
  padding: 2px 24px;
  background-color: #f6f6f6;
  position: relative;
}
.chatroom .chatroom_body .comments .comments_text {
  font-size: 12px;
  text-align: center;
  align-content: center;
}
.chatroom .chatroom_body .comments .comments_name {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 12px;
  padding-right: 6px;
}
.chatroom .chatroom_body .comments:hover .edit_button {
  width: 30px;
  height: 30px;
  position: absolute;
  padding-top: 5px;
  top: 0;
  right: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.chatroom .chatroom_body .comments:hover .edit_button span {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  top: 7px;
}
.chatroom .chatroom_body .comments:hover .edit_button span:nth-child(2) {
  top: 14px;
}
.chatroom .chatroom_body .comments:hover .edit_button span:nth-child(3) {
  top: 21px;
}
.chatroom .chatroom_body .comments:hover .edit_button:hover {
  background-color: #969696;
}
.toggle_button {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 70px;
  height: 70px;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.toggle_button span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #1863FF;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle_button span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.toggle_button span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.toggle_button:hover span:nth-child(1) {
  width: 40px;
  left: 15px;
}
.toggle_button:hover span:nth-child(2) {
  width: 40px;
  left: 15px;
}
.toggle_button.active span {
  width: 40px;
  height: 4px;
  background: #1863FF;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle_button.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  width: 40px;
}
.toggle_button.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 40px;
}
.toggle_button.active span:nth-child(3) {
  transform: translateX(60px);
}

.input-group .close_button {
  top: 5px;
  left: -40px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.input-group .close_button span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #1863FF;
  border-radius: 4px;
  transition: 0.5s;
}
.input-group .close_button span:nth-child(1) {
  transform: rotate(45deg);
  width: 20px;
  left: 6px;
}
.input-group .close_button span:nth-child(2) {
  transform: rotate(315deg);
  width: 20px;
  left: 6px;
}

/*# sourceMappingURL=pagestyle.css.map */
